@import "modules/variables";
@import "modules/mixins";

@import "vendor/catapult-cookie";
@import "vendor/theme-icons";
@import "vendor/wp";
@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

body {
    font-family: $family-sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased !important;
    margin: 0 auto;
}

a {
    color: #f26727;
}

@import "components/typography";
@import "components/header";
@import "components/nav";
@import "components/container";
@import "components/content";
@import "components/article";
@import "components/pagination";
@import "components/sidebar";
@import "components/widget";
@import "components/search";
@import "components/footer";
@import "components/views";
@import "components/login";