.l-listing-page {
	@include breakpoint($bp-desk) {
		position: relative;
		background: url("../img/bg-pattern.png") repeat;

		&::after {
			@include position(absolute, 0 null 0 50%);
			width: 100%;
			height: 100%;
			background-color: $bg-body;
			content: "";
		}

		> .l-main,
		> .footer {
			position: relative;
			z-index: 1;
		}

		> .header {
			position: relative;
			z-index: 2;
		}

		> .header,
		.l-primary { background-color: $bg-body; }

		main,
		.l-main {
			display: flex;
			flex-direction: column;
		}

		main,
		.l-layout-wrap {
			display: flex;
			flex-grow: 1;
		}
	}
}
