//
// Header
//

.nav--primary,
.nav--utility {
	@include l-content;
	@include margin(null auto);
	background-color: $brand-primary;
	color: $text-on-dark;

	@include breakpoint($bp-full-nav) {
		display: inline-flex;
		align-items: stretch;
		margin: 0;
		padding: 0;
		background: none;
		color: inherit;
	}

}

.nav--primary {
	a {
		display: block;
		position: relative;
		padding: 1.5rem $gutter-half;
		color: $white;

		@include breakpoint($bp-mobile-nav-max, max) {
			z-index: 1;
		}

		@include hf {
			border-bottom: 0;
			background-color: $brand-primary-light;
		}
	}

	.nav__toggle {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		padding: $gutter 1.375rem;
		color: $white;
		text-align: right;
		cursor: pointer;

		@include breakpoint($bp-full-nav) {
			display: none;
		}

		@include hf {
			background-color: $brand-primary-light;
			color: $link-color;
		}

		&::before {
			line-height: $font-size-small;
		}
	}
}

.menu-item:not(.nav__item--disable) > .nav--lvl-1 [href],
.nav--lvl-2 [href],
.nav--primary .nav-item__more {
	margin-left: 1.25rem;
    font-size: $font-size-small;
}

.menu-item {
	.nav--primary > & {
		@include margin(null (-$gutter-half));
		border-bottom: 1px solid $brand-primary-light;

		@include breakpoint($bp-full-nav) {
			display: inline-flex;
			position: static;
			margin: 0;
			border-bottom: 0;
		}

        &.nav-item--single-col {
            @include breakpoint($bp-full-nav) {
                position: relative;
            }
        }

		> a {
			display: inline-block;
			font-weight: bold;
			text-transform: uppercase;
			z-index: 3;

			@include breakpoint($bp-full-nav) {
				@include nav-link;
				@include padding(null 1.25rem);
				display: inline-flex;
				align-items: center;
				color: $brand-primary;
			}

			@include hf {
				background-color: transparent;
				color: $link-color;

				@include breakpoint($bp-full-nav) {
					border-bottom: 0;
					background-image: url("../img/pw_maze_white_@2X.png");
					background-size: 46px 23px;
					color: inherit;
				}
			}
		}
	}

	.nav--primary & {
		&.is-active > a { color: $link-color; }
	}

	.nav--primary .sub-menu & {
		@include breakpoint($bp-full-nav) {
			display: flex;
			flex: 1;
			flex-direction: column;
		}
	}

	@include breakpoint ($bp-full-nav) {
		.nav--primary > .menu-item > .sub-menu > & {
			@include padding(null 1.25rem);
			border-right: 1px solid $brand-primary-light;

			&:first-of-type { padding-left: 0; }
			&:last-of-type {
				padding-right: 0;
				border-right-width: 0;
			}
		}
	}
}

.sub-menu {
	padding: 0;
	list-style: none;

	.nav--primary & {
		@include breakpoint($bp-full-nav) {
			color: $text-on-dark;
		}
	}

	a {
		@include padding(.625rem null);
		line-height: 1.2;

		@include breakpoint($bp-full-nav) {
			@include padding(.5rem .75rem .5rem 1.25rem);
		}
	}

	li:last-of-type {
		margin-bottom: $gutter;

		.nav-item--split & { margin-bottom: 0; }
	}

	// Primary nav second level sub-menu
	.nav--primary > .menu-item > & {
		@include breakpoint($bp-full-nav) {
			// Used to override inline display style via JS.
			display: flex !important;
			position: absolute;
			top: 100%;
			left: 50%;
			justify-content: space-between;
			width: 100%;
			max-width: $content-bounds;
			padding: $gutter 0;
			transform: translateX(-50%);
			transition: opacity $transition-timing;
			background-color: rgba($brand-primary, .97);
			opacity: 0;
			z-index: -1;
			pointer-events: none;

			&::before,
			&::after {
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				background: rgba($brand-primary, .97);
				content: "";
			}

			&::before { left: -100%; }
			&::after { right: -100%; }
		}
	}

	.nav--primary > .menu-item.nav-item--single-col > & {
		@include breakpoint($bp-full-nav) {
            display: block !important;
			left: 0;
			width: auto;
            min-width: 22.5rem;
			transform: none;

			&::before,
			&::after {
				content: none;
			}

			> .menu-item {
				@include padding(null 0);
				border-right-width: 0;

				> a {
					padding-left: $gutter; // To match parent with @include nav-link();
				}
			}
		}
	}

	.nav--primary > .menu-item:hover > &,
	.nav--primary > .menu-item:focus > & {
		@include breakpoint($bp-full-nav) {
			// Important used to override hiding from Javascript
			opacity: 1;
			z-index: 2;
			pointer-events: auto;
		}
	}

	a:not([href]) {
		color: $text-on-dark-alt;
        font-weight: bold;
		text-decoration: none;
	}

	.nav-item--split & {
		@include breakpoint($bp-full-nav) {
			min-width: 29rem; // NOTE: Magic number. ಠ_ಠ
			columns: 2;

			.menu-item {
				break-inside: avoid;

				// Hide split menu items past the 16th.
				&:nth-of-type(n+17) { display: none; }
			}
		}
	}
}

.nav-item__more { margin-bottom: $gutter; }

.nav__item--disable {
	.nav--primary li + & > a {
		@include margin(null .9375rem null);
		@include padding($gutter 0 null);
		border-top: 1px solid $brand-primary-light;
	}

	.nav--primary .nav--lvl-0 > & > a,
	.nav--primary li + & > a {
		@include breakpoint($bp-full-nav) {
			margin-top: 0;
			padding-top: 0;
			border-top: 0;
		}
	}
}

.nav--utility {
	@include padding($gutter null);
	list-style: none;

	@include breakpoint($bp-hands) {
		padding-top: $gutter * 2;
	}

	@include breakpoint($bp-full-nav) {
		// position: relative;
		flex-direction: column;
		margin-bottom: $gutter;
	}

	.nav__item {
		display: flex;
		justify-content: space-between;
		margin-bottom: $gutter;

		@include breakpoint($bp-full-nav) {
			display: flex;
			align-items: center;
			margin-bottom: 0;
		}
	}

	.nav__icon{
		color: $brand-primary;

		&:hover{
			border-bottom: 0;
			color: $brand-secondary;
		}
	}	

	.nav__link {
		display: inline-block;
		padding: .5rem 1.25rem;
		font-size: $font-size-small;

		@include hf {
			border-bottom-width: 0;
			color: $white;
		}

		&:first-child { padding-left: 0; }

		&:last-child {
			padding-right: 0;
		}

		@include breakpoint($bp-full-nav) {
			@include padding(0 null);
			color: $brand-primary;
			border-right: 1px solid rgba($brand-primary, .1);

			@include hf { color: $link-color; }

			&:last-child {
				border-right-width: 0;
			}
		}
	}

	.nav__button {
		width: 100%;
	}
}

.nav--utility__links {
	@include breakpoint($bp-full-nav) {
		@include padding(.5rem null 1rem);
	}
}

.header__nav-mobile-toggle {
	margin-left: 0;
	float: right;
	cursor: pointer;

	@include breakpoint($bp-full-nav) {
		display: none;
	}

	&:hover {
		cursor: pointer;
	}
}
